* {
  box-sizing: border-box;
}

.mainForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border: 1px solid #000;
  padding: 15px;
}
.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.textInput {
  font-size: 16px;
  padding: 0.2em 0.4em;
  width: 100%;
}
